<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Usuários</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/login.css">
</head>
<body>
    <div class="container-login">
        <div>
            <form action="/login" class="devbook-form" id="formulario-cadastro">
                <span>Crie sua conta</span>
                <div class="input-group">
                    <input type="text" name="nome" id="nome" placeholder="Digite seu nome" required>
                </div>
                <div class="input-group">
                    <input type="email" name="email" id="email" placeholder="Digite seu e-mail" required>
                </div>
                <div class="input-group">
                    <input type="text" name="nick" id="nick" placeholder="Digite seu nick" required>
                </div>
                <div class="input-group">
                    <input type="password" name="senha" id="senha" placeholder="Digite sua senha" required>
                </div>
                <div class="input-group">
                    <input type="password" name="confirmar-senha" id="confirmar-senha" placeholder="Confirme sua senha" required>
                </div>
                <a href="/login">Já possui uma conta? Faça login</a>
                <button type="submit" class="btn-devbook">Cadastrar</button>
            </form>
        </div>
   </div>
   {{ template "scripts" . }}
   <script src="/assets/js/cadastro.js"></script>
</body>
</html>