<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/bootstrap.css">    
    <title>Meu Perfil</title>
</head>
<body>
    {{ template "cabecalho" . }}

    <div class="container-fluid">
        <div class="row mt-4">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ .Usuario.Nome }}</h5>
                        <h6 class="card-subtitle">{{ .Usuario.Nick }}</h6>
                    
                        <p class="card-text">
                            <a href="#" data-toggle="modal" data-target="#modal-seguidores">Seguidores</a>
                        </p>
                        <p class="card-text">
                            <a href="#" data-toggle="modal" data-target="#modal-seguindo">Seguindo</a>
                        </p>

                        <div class="row">
                            <div class="col-12">
                               <a href="/editar-usuario" class="card-link">
                                    <button class="btn btn-info">Editar Perfil</button>
                               </a> 
                               <a href="/atualizar-senha" class="card-link">
                                    <button class="btn btn-info">Atualizar Senha</button>
                               </a> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
        <div class="row mt-4">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"> Minhas publicações </h5>
                        <p class="card-text">
                            {{ range .Usuario.Publicacoes}}
                                {{ template "publicacao-com-permissao" . }}
                            {{else}}
                                <p class="text-muted text-center">Nenhuma publicação encontrada</p>
                            {{ end }}
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <a href="deletar-usuario" class="card-link"> 
            <button class="btn btn-danger">Excluir conta permanentemente</button> 
        </a>
    </div>

    {{ template "rodape" . }}
    {{ template "modal-seguidores" . }}
    {{ template "modal-seguindo" . }}
    {{ template "scripts" . }}

    <script src="/assets/js/publicacoes.js"></script>
    
</body>
</html>