{{ define "modal-seguidores" }}
<div class="modal-fade" id="modal-seguidores">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2>Seguidores</h2>
            </div>
            <div class="modal-body">
                {{ if gt (len .Usuario.Seguidores) 0 }}
                    <ul class="list-group">
                        {{ range .Usuario.Seguidores }}
                            <li class="list-group-item">
                                <a href="/usuario/{{ .ID }}"> {{ .Nome }} ({{ .Nick }}) </a>
                            </li>
                        {{ end }}
                    </ul>
                {{ else }}
                    <p class="text-muted text-center">Nenhum seguidor encontrado.</p>
                {{ end }}
            </div>
        </div>
    </div>
</div>
{{ end }}
